@import "../../../sass/abstracts/variables";

#pag-home-background{
  min-height: 100vh;
  background-color: $color_navyBlue;
}

#pag-home{
  align-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 100px;
  h1, h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: $color_white;
  }
}

// Mobile
@media(max-width: 768px){
  #pag-home{
    h1{
      font-size: 40px;
    }
    h2{
      font-size: 20px;
    }
    #img-home{
      height: 200px;
      max-width: 80%;    
    }
  }
}

// Tablet
@media(min-width: 769px) and (max-width: 1279px){
  #pag-home{
    h1{
      font-size: 60px;
    }
    h2{
      font-size: 30px;
    }
    #img-home{
      height: 300px;
      max-width: 90%;    
    }
  }
}

// Desktop
@media(min-width: 1280px){
  #pag-home{
    h1{
      font-size: 60px;
    }
    h2{
      font-size: 30px;
    }
    #img-home{
      height: 400px;
      max-width: 100%; 
    }
  }
}
